@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}

#app {
    /* font-family: Futura-Normal; */
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: Cmon-Near;
}