@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

@font-face {
    font-family: Futura-Normal;
    src: url('../assets/fonts/FuturaLT.woff') format("WOFF");
    font-weight: normal;
    font-display: fallback
}

@font-face {
    font-family: Futura-Bold;
    src: url('../assets/fonts/FuturaLT-Bold.woff') format("WOFF");
    font-weight: normal;
    font-display: fallback
}